@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the fade-in animation */
.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

/* Apply the slide-in animation */
.animate-slide-in {
  animation: slide-in 1s ease-out forwards;
}
