@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in-up {
    animation: fadeInUp 0.7s ease-out forwards;
  }
  /* In your global CSS (e.g., styles.css or app.css) */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-width: none;  /* Hide scrollbar in Firefox */
}
